<!--
  Generated template for the StokListeDetayPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
     <ion-title>Liste Detayı</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>

  <ion-card-content style="padding-bottom:10px;padding-right:20px">



    <ion-card padding>

      <span>
        <b> Teklif Numarası: {{this.gelen.fatura_no}}</b>
      </span>
      <p>
        <span>Olusturan Kisi: {{this.gelen.username}} </span>
      </p>
      <p>
        <span> Toplam Urun Adedi: {{this.gelen.urun_adedi}} Adet </span>
      </p>
      <p>
        <span> Toplam Tutar:
          <strong>{{this.fiyat_kaydi.toplam_fiyat | denemee }} TL </strong>
        </span>
      </p>
      <p>
        <span> {{saatcevir(this.gelen.fatura_tarih) |date: 'dd/MM/yyyy H:mm'}} </span>
      </p>
      <p>
        <span *ngIf="this.gelen.aciklama!=null"> Liste Acıklaması: {{this.gelen.aciklama}} </span>
      </p>




    </ion-card>

  </ion-card-content>



  <ion-list *ngFor="let item of dataSet">

    <ion-item class="asd">


      <ion-label>
       <button ion-item (click)="itemTapped($event,item)">Urun Adı: {{item.stok_adi}} </button>
     
        Iskontolu fiyat: {{item.stok_adet}} * {{ (item.satis_fiyati)-((item.satis_fiyati/100)*item.sabit_iskonto ) | denemee }} =
        {{item.stok_adet * (item.satis_fiyati-((item.satis_fiyati/100)*item.sabit_iskonto )) | denemee}} TL
        
        <ion-row>


          <ion-col col-6>
            <ion-item>
              <ion-label color="primary">Adet:</ion-label>
              <ion-input style="font-weight: bold" type="number" [(ngModel)]="item.stok_adet" clearInput></ion-input>
            </ion-item>
          </ion-col>
          <ion-col col-6>

            <ion-item>
              <ion-label color="primary" class="inputstok">isk: </ion-label>
              <ion-input style="font-weight: bold" type="number" [(ngModel)]="item.sabit_iskonto" clearInput></ion-input>
            </ion-item>
          </ion-col>

        </ion-row>
      </ion-label>

    </ion-item>



  </ion-list>


  <ion-grid>

<ion-row>
  <ion-col >
    <button ion-button block color="marginTop" (click)="devamet()">Listeye Devam Et</button>
  </ion-col>
  <ion-col >
    <button ion-button block color="marginTop" (click)="kaydet()">Kaydet</button>
  </ion-col>

</ion-row>


    <ion-row>
      <ion-col>
        <button ion-button block color="marginTop" (click)="generatePDF()">PDF Olustur</button>
      </ion-col>
      <ion-col>
        <button ion-button block color="marginTop" (click)="downloadCSV()">Excel Indir</button>
      </ion-col>

      <ion-col>
        <button ion-button block class="lightprimary" (click)="sil()">Sil</button>
      </ion-col>
    
    </ion-row>
  </ion-grid>


</ion-content>