page-stok-liste-detay {

    .inputsol{
        
            
         
         margin-inline-end: 20%;
         margin-bottom: 0; 
         padding: 0;
    }
    .inputstok{
    margin-right: 15%;
    }
    .asd{
        margin-bottom: 0;

    }
}
