page-welcome {
#welcome{
    background: color($colors, energy);
    h1{
        font-size: 52px;
        margin-top:50px;
        
    }
    .marginTop{
        margin-top:100px;
    }
    .logo{
        margin-top:75px;
        height: 150px;
        padding-left:10%;
        
    }
}
}
