page-liste-goster-siparis {

    .data-scroll{
        position: fixed;
        top: 220px;
        bottom: 0;
        left: 0;
        right: 0;

    }
    .data-table{
        min-width: 100%;
    }


}
